## Test Report

Date: 23/10/2024
Tested by: Jonathan Frey
Result:
| Test Case | Result |
| --- | --- |
| 1.1 | Passed |
| 1.2 | Passed |
| 1.3 | Passed |
| 1.4 | Passed |
| 1.5 | Passed |
| 2.1 | Passed |
| 2.2 | Passed |
| 2.3 | Passed |
| 3.1 | Passed |
